importFrom("BUSpaRse", "read_count_output")
importFrom("DropletUtils", "barcodeRanks", "emptyDrops")

export("scTK_launch", "scTK_load", "scTK_edf", "scTK_recompress", "scTK_descriptor", "scTK_QnDuMAP", "scTK_cc_seurat", "scTK_scSG", "scTK_assess_covar", "scTK_regress_covar", "scTK_SeuratUMAP", "scTK_TinGa")
