importFrom("BUSpaRse", "read_count_output")
importFrom("DropletUtils", "barcodeRanks", "emptyDrops")
importFrom("singleCellTK", "singleCellTK")
importFrom("Seurat", "Read10X", "CreateSeuratObject", "NormalizeData", "CellCycleScoring", "FindVariableFeatures", "ScaleData", "RunPCA", "FindNeighbors", "FindClusters", "VariableFeaturePlot", "CreateDimReducObject")
importFrom("sparseMatrixStats", "colCounts")
importFrom("Matrix", "colSums", "drop0")
importFrom("SingleCellExperiment", "SingleCellExperiment", "mainExpName", "reducedDims", "reducedDim", "altExpNames", "altExp")
importFrom("SummarizedExperiment", "assays", "assay")
importFrom("knitr", "kable")
importFrom("S4Vectors", "metadata")
importFrom("scater", "calculateUMAP")
importFrom("irlba", "prcomp_irlba")
importFrom("stats", "cmdscale")
importFrom("circlize", "colorRamp2")
importFrom("ComplexHeatmap", "Heatmap", "HeatmapAnnotation", "draw")
importFrom("grid", "gpar")
importFrom("SeuratWrappers", "ReadAlevin")
export("scTK_launch", "scTK_load", "scTK_edf", "scTK_recompress", "scTK_descriptor", "scTK_QnDuMAP", "scTK_cc_seurat", "scTK_scSG", "scTK_assess_covar", "scTK_regress_covar", "scTK_SeuratUMAP", "scTK_TinGa")
